.App {
  text-align: center;
}

.align-center {
  display: block;
  margin: 1.0em auto;
  text-align: center;
}

.form-text {
  text-align: left;
}

input[type=text]{
  padding: 10px;
  margin: 10px 0;
}


/* We'll use flexbox since I10 is axed */
.row {
  display: flex;
}

.column {
  flex: 50%;
}
